<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentClass">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <div class="card"></div>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="البريد الإلكتروني" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="كلمة المرور" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding style="margin-top: 10%;">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">تسجيل الدخول</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
