.summary{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: xx-large;
    color: red;
}

.continue{
    bottom: 10px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

ion-label{
    white-space: pre-wrap !important;

   
}
.label{
    color: blue;
}
