<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027814650922-kbc9rabj9tr0l097q6hhqkm1nem6r6fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027814650922-kbc9rabj9tr0l097q6hhqkm1nem6r6fo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1027814650922-jcaeard92n7hhbequddsgulo1kjaskfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5kTqAzOfk5uBS-L-r1xp7vNQ8CGrriJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1027814650922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casheir.app</string>
	<key>PROJECT_ID</key>
	<string>registeration-334914</string>
	<key>STORAGE_BUCKET</key>
	<string>registeration-334914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027814650922:ios:d95ea4fd35d01d29be7f53</string>
</dict>
</plist>